@media screen and (max-width:768px){
    #desktop-nav{
        display: none;
    }
    #mobile-nav{
        display: flex;
    }
    #myLinks {
        display: none;
    }
    #myLinks.open {
        display: flex;
    }
}


