@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
*{
    margin: 0;
    padding: 5px;
    background-image: url(images/back2.png);
}
body{
    font-family: "Lora", serif;
    background-image: url(images/background.png);
}

a,
.btn {
    transition: all 300ms ease;
}

html{
    scroll-behavior: smooth;
}

nav,
.nav-links {
    display: flex;
}

nav{
    justify-content: space-between;
    align-items: center;
    height: 17vh;
}

.nav-links{
    gap: 2rem;
    font-size: 1.2rem;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.nav-links a:hover{
    color: #868e87;
    text-decoration: overline underline;
    text-decoration-thickness: 0.3rem;
    text-underline-offset: 0.7rem;
    text-decoration-color: #bdb7b6;
}

.logo{
    font-size: 1.6rem;
}
.logo:hover{
    color: #5a605e;
    cursor: default;
}
/*mobile nav*/
#mobile-nav{
    display: none ;
}
.mobile-menu{
    position: relative;
    display: inline-block;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}
.menu-icon span {
    width: 100%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    transition: all 0.3 ease-in-out;
}
.menu-links {
    position: absolute;
    top: 30px;
    right: 0;
    box-shadow: 0 8px 16px rgba(255, 29, 29, 0.2);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-height: 0;
    background-color: #fdfdfd;
}
.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links a:hover {
    background-color: #4e4b4b;
    color: #fdfdfd;

}
.active {
    background-color: aquamarine;
    color: rgb(16, 118, 207);
}
i{
    font-size: 1.5rem;
    cursor: pointer;
    
}