@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

body{
    font-family: "Lora", serif;
    background-image: url(images/background.png);
}

a,
.btn {
    transition: all 300ms ease;
}

html{
    scroll-behavior: smooth;
}

nav,
.nav-links {
    display: flex;
}

nav{
    justify-content: space-between;
    align-items: center;
    height: 17vh;
}

.nav-links{
    gap: 2rem;
    font-size: 1.2rem;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.nav-links a:hover{
    color: #868e87;
    text-decoration: overline underline;
    text-decoration-thickness: 0.3rem;
    text-underline-offset: 0.7rem;
    text-decoration-color: #bdb7b6;
}

.logo{
    font-size: 1.6rem;
}
.logo:hover{
    color: #5a605e;
    cursor: default;
}
/*mobile navigation style*/
#mobile-nav{
    display: none;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}
.menu-icon {
    font-size: 28px;
    cursor: pointer;
}

#myLinks{
    display: flex;
    flex-direction: column;
    background-color: #97906f;
    position: relative;
    width: 100%;
}
#myLinks li{
    color: white;
    padding: 12px 16px;
    text-align: center;
    list-style: none;
    background-color: rgb(189, 187, 157);
}
#myLinks li:hover{
    background-color: #a0a2b6;
    cursor: pointer;
}
#myLinks a:hover{
    color: rgb(242, 242, 242);
}


